<!DOCTYPE html>
<html lang="en" data-theme="emerald">
<head>
    <meta charset="UTF-8">
    <title>Locked | {{ puzzle.name }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link href="https://cdn.jsdelivr.net/npm/daisyui@4.7.2/dist/full.min.css" rel="stylesheet" type="text/css" />
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
    <div class="md:container p-4">
        <div class="lg:max-w-96 mx-auto">
            <div class="flex justify-end items-center">
                <a href="/" class="inline-block mr-auto">
                    <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-arrow-back scale-150" width="24" height="24" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M9 11l-4 4l4 4m-4 -4h11a4 4 0 0 0 0 -8h-1" /></svg>
                </a>
                {% if hints %}
                <p class="opacity-50 mr-2">Hints</p>
                {% endif %}
                <div>
                    {% for hint in hints %}
                        <button class="btn btn-sm btn-secondary btn-outline" onclick="M{{ forloop.counter }}.showModal()">{{ hint.order }}</button>
                        <dialog id="M{{ forloop.counter }}" class="modal">
                          <div class="modal-box">
                            <h3 class="font-bold text-lg">Hint {{ hint.order }}</h3>
                            <p class="py-4">{{ hint.description | safe }}</p>
                          </div>
                          <form method="dialog" class="modal-backdrop">
                            <button>close</button>
                          </form>
                        </dialog>
                    {% endfor %}
                </div>
            </div>
            <form method="post" class="flex flex-col items-center my-5">{% csrf_token %}
                <h2 class="text-2xl font-medium text-error">Access Denied</h2>
                <p>Please enter the decryption key to proceed.</p>
                {% if puzzle.password_type == "number" %}
                <div id="inputs" class="flex flex-wrap justify-center gap-1 my-2">
                    {% for c in puzzle.password %}
                    <input title="Decryption Key Part" type="{{ puzzle.password_type }}" class="input input-bordered w-12 text-base-content" minlength="1" maxlength="1">
                    {% endfor %}
                </div>
                {% endif %}
                <input {% if puzzle.password_type == "number" %}hidden{% endif %} type="text" name="key" id="key" title="Decryption Key" class="input input-bordered text-base-content my-2">
                <input type="submit" title="Decrypt" value="Decrypt" class="btn btn-primary">
            </form>
            {% if failed %}
                <div class="alert alert-error text-error-content">Incorrect Password</div>
            {% endif %}
        </div>
    </div>
    <script>
        {% if puzzle.password_type == "number" %}
        const container = document.getElementById("inputs");
        container.onkeyup = function(e) {
            const target = e.target;
            const maxLength = parseInt(target.attributes["maxlength"].value, 10);
            const myLength = target.value.length;

            // Move to next field if full
            if (myLength >= maxLength) {
                const next = target.nextElementSibling;
                if (next) {
                    next.focus();
                }
            }

            // Move to previous field if empty (user pressed backspace)
            else if (myLength === 0) {
                const previous = target.previousElementSibling;
                previous.focus();
            }

            // Combine separate input fields into one
            const keyEl = document.getElementById("key")
            keyEl.value = Array.from(container.children).map(e => e.value).join("")
        }
        {% endif %}

        // Prevent resubmitting form on refresh
        if (window.history.replaceState) {
            window.history.replaceState(null, null, window.location.href);
        }
    </script>
</body>
</html>