<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Locked | {{ puzzle.name }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link href="https://cdn.jsdelivr.net/npm/daisyui@4.7.2/dist/full.min.css" rel="stylesheet" type="text/css" />
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
    <div class="md:container p-4">
        <div class="lg:max-w-96 mx-auto">
            <a href="/" class="inline-block">
                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-arrow-back scale-150" width="24" height="24" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M9 11l-4 4l4 4m-4 -4h11a4 4 0 0 0 0 -8h-1" /></svg>
            </a>
            <form method="post" class="flex flex-col items-center">{% csrf_token %}
                <h2 class="text-2xl font-medium">Uh Oh!</h2>
                <p>This journal entry is encrypted!</p>
                <p>Please enter the decryption key to proceed.</p>
                <div id="inputs">
                    {% for c in puzzle.password %}
                    <input name="{{ forloop.counter }}" title="Decryption Key" type="{{ puzzle.password_type }}" class="input input-bordered w-12 text-base-content" minlength="1" maxlength="1">
                    {% endfor %}
                </div>
                <input type="submit" title="Decrypt" value="Decrypt" class="btn btn-primary my-2">
            </form>
            {% if failed %}
                <div class="alert alert-error text-error-content">Incorrect Password</div>
            {% endif %}
        </div>
    </div>
    <script>
        const container = document.getElementById("inputs");
        container.onkeyup = function(e) {
            const target = e.target;
            const maxLength = parseInt(target.attributes["maxlength"].value, 10);
            const myLength = target.value.length;

            // Move to next field if full
            if (myLength >= maxLength) {
                const next = target.nextElementSibling;
                next.focus();
            }

            // Move to previous field if empty (user pressed backspace)
            else if (myLength === 0) {
                const previous = target.previousElementSibling;
                previous.focus();
            }
        }

        // Prevent resubmitting form on refresh
        if (window.history.replaceState) {
            window.history.replaceState(null, null, window.location.href);
        }
    </script>
</body>
</html>